

#background {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    image-rendering: pixelated;
    display: block;
}

.input-box-container {
    position: absolute;
    /* Positions the div relative to the container */
    top: 0;
    /* Positions the div at the top of the container */
    left: 0;
    /* Positions the div at the left of the container */
    width: 100%;
    /* Makes the div span the full width of the container */
    height: 90%;
    /* Makes the div span the full height of the container */
    color: white;
    /* Text color */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-box {
    width: 66%;
    padding: 20px 20px;
    background-color: rgba(256, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#prompt {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.options{
    margin-top: 40px;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#option_1, #option_2 {
    width: 40%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 256, 0.75);
    text-align: center;
    cursor: pointer;
    font-size: 1.25em;
    color: white;
    font-weight: bold;
}

.details-box {
    width: 66%;
    padding: 20px 20px;
    margin: 40px 0px;
    background-color: rgba(256, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#details {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

#timer-bar{
    width: 100%;
    height: 10px;
    background-color: green;
    padding: 0 0;
    position: absolute;
    border-radius: 60px / 15px;
}

#timer-background{
    width: 100%;
    height: 10px;
    background-color: black;
    padding: 0 0;
    position: absolute;
    border-radius: 60px / 15px;

}

#timer-time{
    width: 100%;
    height: 10px;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    
}

#timer-box {
    width: 100%;
    background-color: grey;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
