
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jersey+10&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


@media (min-width: 600px) {

#input-box-container {
    position: absolute;
    /* Positions the div relative to the container */
    top: 0;
    /* Positions the div at the top of the container */
    left: 0;
    /* Positions the div at the left of the container */
    width: 100%;
    /* Makes the div span the full width of the container */
    height: 90%;
    /* Makes the div span the full height of the container */
    color: rgb(47, 37, 27);
    /* Text color */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Jersey 10', sans-serif;
    align-items: center;
}

.input-box {
    width: 66%;
    padding: 2% 2%;
    background-color: rgba(238, 202, 153, 0.75);
    border: 3px solid rgba(82, 69, 55, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#prompt {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.options{
    margin-top: 4%;
    margin-bottom: 1%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
}

.button-option {
    flex: 1;
    margin: 0% 1%;
    padding: 1% 2%;
    background-color: rgba(100, 50, 50, 0.75);
    border: 3px solid rgba(82, 69, 55, 0.75);    
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
}

.button-option:hover{
    background-color: rgba(199, 120, 54, 0.75);
    border-color:rgba(157, 92, 22, 0.75) ;
}


.details-box {
    width: 66%;
    padding: 2% 2%;
    margin: 4% 0%;
    background-color: rgba(238, 202, 153, 0.75);
    border: 3px solid rgba(82, 69, 55, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-height: 30%;
    overflow-y: auto;
}

#details {
    font-size: 1.5em;
    margin-bottom: 2%;
    text-align: center;
}
}