#input-box-container {
    position: absolute;
    /* Positions the div relative to the container */
    top: 0;
    /* Positions the div at the top of the container */
    left: 0;
    /* Positions the div at the left of the container */
    width: 100%;
    /* Makes the div span the full width of the container */
    height: 90%;
    /* Makes the div span the full height of the container */
    color: rgba(47, 37, 27, 0.75);
    /* Text color */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-box {
    width: 66%;
    padding: 20px 20px;
    background-color: rgba(238, 202, 153, 0.75);
    border: 3px solid rgba(82, 69, 55, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#prompt {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.options{
    margin-top: 40px;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button_option{
    flex: 1;
    margin-left: 10px;
    padding: 15px 15px;
    background-color: rgba(100, 50, 50, 0.75);
    text-align: center;
    cursor: pointer;
    font-family: "Jersey 10", serif;
    font-size: 1.25em;
    color: white;
    border: 3px solid rgba(82, 69, 55, 0.75);
    border-radius: 8px;
}

.button_option:hover{
    background-color: rgba(199, 120, 54, 0.75);
    border-color:rgba(157, 92, 22, 0.75) ;
}


.details-box {
    width: 66%;
    padding: 20px 20px;
    margin: 40px 0px;
    background-color: rgba(238, 202, 153, 0.75);
    border: 3px solid rgba(82, 69, 55, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#details {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}
