@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jersey+10&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: 'Jersey 10', sans-serif;
    letter-spacing: 0.04em;
}

.wrapper {
    width: 80%;
    max-width: 90%;
    background: white;
    padding: 2%;
    border-radius: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url("../../images/login/login-background.png");  
    background-size: cover;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 1%;
    font-size: 2.5rem;
}

p {
    margin-bottom: 1%;
    font-size: 1.3rem;
}

button {
    flex: 1;
    margin: 2% 0 0 0;
    padding: 1% 2%;
    width: 96%;
    max-width: 40%;
    background-color: rgba(100, 50, 50, 0.75);
    border: 0.3vw solid rgba(82, 69, 55, 0.75);
    border-radius: 1vw;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(199, 120, 54, 0.75);
    border-color: rgba(157, 92, 22, 0.75);
}

.main-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(238, 202, 153, 0.75);
    border: 0.3vw solid rgba(82, 69, 55, 0.75);
    padding: 2%;
    border-radius: 1vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 40%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 2%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}