@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jersey+10&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family: 'Jersey 10', sans-serif;
    letter-spacing: 0.04em;
}

html,

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    width: 100%;
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    font-size: 1.25rem;
    color: white;
    /* Just for visualization */
}

.death-header {
    font-size: 10em;
    color: rgb(182, 11, 11);
    text-align: center;

}

#death-message {
    font-size: 2em;
    color: white;
    text-align: center;
}
.death-button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(182, 11, 11);
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    border: 3px solid black;

}

.death-button:hover {
    border: 3px solid white;
}

.death-button:active {
    transform: scale(0.9);
    transition: transform 0.05s ease-in;
}

.death-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#background {
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 15;
    object-fit: contain;

    display: block;
}


