@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jersey+10&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    font-family: 'Jersey 10', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
    /* Just for visualization */
}

.death-header {
    font-size: 10em;
    color: rgb(182, 11, 11);
    text-align: center;

}

#death-message {
    font-size: 2em;
    color: white;
    text-align: center;
}

#background {
    height: 100%;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;

    image-rendering: pixelated;
    display: block;

    
}

