.character-list {
    width: 80%;
    padding: 2% 2%;
    padding-bottom: 5%;
    margin: 4% 0%;
    background-color: rgba(238, 202, 153, 0.75);
    border: 3px solid rgba(82, 69, 55, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 80%;
    overflow-y: auto;
}

h1 {
    font-size: 3em;
}

.root {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlap-box {
    position: absolute;
    bottom: 4%;
    background-color: rgba(100, 50, 50, 1);
    color: white;
    border: none;
    border: 3px solid rgba(82, 69, 55, 0.75);
    border-radius: 10px;
    margin-top: 10px;
    width: 50%;
    padding: 1% 4%;
    font-size: 1.75em;
    cursor: pointer;
}

.overlap-box:hover {
    background-color: rgba(199, 120, 54, 1);
    border-color: rgba(157, 92, 22, 0.75);
}

.overlap-box:active {
    transform: scale(0.9);
    transition: transform 0.05s ease-in;
}

.character-option {
    width: 90%;
    padding: 2% 2%;
    margin: 1% 0%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(100, 50, 50, 0.75);
    font-size: 1.5em;
    color: white
}

.game-summary-box{
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}

.character-name-box {
    flex: 1;
    text-align: start;
}

.percentage-box {
    margin: 0% 2%;
    text-align: end;
}

.summary-button {
    background-color: rgba(238, 202, 153, 0.75);
    border: 3px solid rgba(82, 69, 55, 0.75);
    border-radius: 50%; /* Ensures a circular shape */
    width: min(7vw, 7vh); /* Keeps the circle responsive */
    height: min(7vw, 7vh); /* Ensures height matches width */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
}